<ion-view view-title="Articles">
    <ion-nav-buttons side="right">
        <button class="button button-icon icon ion-camera" ng-click="upload()"></button>
    </ion-nav-buttons>
  <ion-content>
<!--     <div class="row" ng-repeat="image in images" ng-if="$index % 4 === 0">
    	<div class="col col-25" ng-if="$index < images.length">
    		<img ng-src="data:image/jpeg;base64, {{images[$index].image}}" widt="100%">
    	</div>
     	<div class="col col-25" ng-if="%index + 1 < images.length">
    		<img ng-src="data:image/jpeg;base64, {{images[$index + 1].image}}" widt="100%">
    	</div>
    	<div class="col col-25" ng-if="%index + 2 < images.length">
    		<img ng-src="data:image/jpeg;base64, {{images[$index + 2].image}}" widt="100%">
    	</div>
     	<div class="col col-25" ng-if="%index + 3 < images.length">
    		<img ng-src="data:image/jpeg;base64, {{images[$index + 3].image}}" widt="100%">
    	</div>
    </div> -->

      <div class="list list-inset">
          <button class="button button-block button-positive" ng-click="logout()"> 
             Facebook Logout
          </button>
      </div>
  </ion-content>
</ion-view>